nextflow.enable.dsl = 2

params{
	reads ="data/*.fastq.gz"
	outdir = "results"
}

profiles{
	local {
		process.executor ='local'
		process.cpus= 2
		process.memory = '4 GB'
		process.container = './containers/variant_image.sif'
		singularity.enabled= true
		singularity.autoMounts = true
	}

	slurm {
		process.executor ='slurm'
		process.queue ='hi'
		process.cpus= 24
		process.memory='32 GB'
		process.time= '24:00:00'
		process.container ='./containers/variant_image.sif'
		singularity.enabled =true
		singularity.autoMounts= true
	}
}